:root {
    --dark: #540b0e;
    --main-bg-color: #9e2a2b; 
    --body-bg-color: #e09f3e;
    --body: #fff3b0;
    --accent: #335c67;

} 


.backgroundHeader {
    /* background: linear-gradient( var(--accent) 10%,  var(--body-bg-color) 100%); */
    background: var(--accent);
}

.backgroundFooter {
    background: var(--accent);
    /* background: linear-gradient( var(--body-bg-color) 0%, var(--main-bg-color)  100%); */
}
